@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --clr-primary: rgb(1, 58, 70);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-russo-one);
}

.icon-hover {
  transition: 0.3s ease;
}

.icon-hover:hover {
  filter: brightness(0) saturate(100%) invert(38%) sepia(92%) saturate(2000%)
    hue-rotate(210deg) brightness(95%) contrast(100%);
}
