@import "tailwindcss";

:root {
  --clr-primary: rgb(1, 58, 70);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-image: url("/Background.jpg");
  background-size: cover; /* always fill the screen */
  background-position: center; /* center the image */
  background-repeat: no-repeat; /* prevent repeating */
  background-attachment: fixed; /* optional: nice parallax effect */
  font-family: var(--font-russo-one);
}

.icon-hover {
  transition: 0.3s ease;
}

.icon-hover:hover {
  filter: brightness(0) saturate(100%) invert(38%) sepia(92%) saturate(2000%)
    hue-rotate(210deg) brightness(95%) contrast(100%);
}
